name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  check-dist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3.1.1
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm install

      - name: Rebuild the dist/ directory
        run: |
          npm run build
          npm run package
